LAB 8/p5.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="IndianPincodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-9][0-9]{5}"/>
      <xs:length value="6"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:element name="Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Street" type="xs:string"/>
        <xs:element name="City" type="xs:string"/>
        <xs:element name="Pincode" type="IndianPincodeType"/>
      </xs:sequence>
    </xs:complexType>

  </xs:element>


</xs:schema>
